<div class="masthead">
		<div class="inner">
			<%#= image_tag("navbar.png", class: "circleBase type2", size: "80x80") %>
			<nav class="nav nav-masthead app-nav">
				<%= nav_helper 'nav-link', 'span' %>
			</nav>
			<% if signed_in? %>
				<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn about-us pageinate" %>
			<% end %>
		</div>
	</div>