<h3>Name:</h3>
<p><%= @name.capitalize %></p>

<h3>Company:</h3>
<p><%= @company.capitalize %></p>

<h3>Email:</h3>
<p><%= @email %></p>

<h3>Porposal message:</h3>
<p><%= @project_description %></p>
